# Created by venv; see https://docs.python.org/3/library/venv.html
/app/node_modules/
.env

# Ignore Python virtual environment
/Lib/
/Include/
/Scripts/
/pyvenv.cfg

# Ignore environment variables
.env

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
